.route {
  display: flex;
  flex-direction: column;
}

.route__form {
  width: 80%;
  margin: 1rem auto;
  text-align: left;
}

.route__box--two {
  display: flex;
  justify-content: space-between;  
}

.route .route__input {
  margin: 0.7rem auto;
  width: 100%;
}


.App .route .ant-select .ant-select-selector,
.route .route__input--half,
.route .route__input--small {
  border-radius: 5px;
}

.route .route__input--half {
  margin: 0.7rem 0;
  width: 45%;
}

.route .route__input--small {
  margin: 0.7rem 0.5rem;
  width: 4rem;
  text-align: center;
}

.route__price {
  background: #FCFCFC;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 0.7rem 0;
  box-sizing: border-box;
}

.route .route__map {
  margin: 1.5rem 0 2rem 0;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .route__form{
    width: 75%;
  }
} 

@media only screen and (min-width: 769px) and (max-width: 1024px) { 
  .route__form{
    width: 60%;
  }
} 

@media only screen and (min-width: 1025px) { 
  .route__form{
    width: 50%;
  }
} 
