.Navbar {
  display: flex;
  justify-content: center;
  background-color: #1788fb;
  bottom: 0;
  padding-bottom: 0;
  text-align: center;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  box-shadow: inset 0px -14px 20px rgba(0, 0, 0, 0.16);
}

.Navbar ul {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.Navbar li {
  justify-self: center;
  align-self: center;
  padding: 0 0.8rem;
  list-style: none;
  font-size: 0.8rem;
}

.Navbar a {
  color: white;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .Navbar {
    height: 4rem;
  }

  .Navbar li {
    padding: 0 1rem;
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 769px) {
  .Navbar {
    height: 4rem;
  }
  
  .Navbar li {
    padding: 0 2rem;
    font-size: 1.3rem;
  }
}