.Navbar {
  background-color: #1788fb;
  bottom: 0;
  padding-bottom: 0;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
}

.Navbar ul {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.Navbar li {
  /* margin: auto 0; */
  justify-self: center;
  padding: 1rem 2rem;
  list-style: none;
}

nav a {
  color: white;
}

.btn-cancel{
  padding: 5px 10px;
  width: 100%;
  background-color: #FF425E;
  border-style: none;
  color: #FCFCFC;
}

