.title {
    color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.textBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.textBox__Input{
    width: 60vw;
    margin: auto;
}

